<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.excerpt %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ site.description | default: 'I break things. I fix things.' }}{% endif %}">
    <title>{{ site.title }} / {{ page.title }}</title>
    {% if page.style %}
    <link rel="stylesheet" href="/assets/styles/{{ page.style }}">
    {% elsif layout.style %}
    <link rel="stylesheet" href="/assets/styles/{{ layout.style }}">
    {% endif %}
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    {% if page.script %}
    <script src="/assets/scripts/{{ page.script }}" type="text/javascript"></script>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          hljs.highlightAll();  // Highlight all code blocks after the page loads
        });
      </script>
</head>