<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="corey.sh / {{page.title}}" />
  <meta name="description" property="og:description" content="{% if page.excerpt %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ site.description | default: 'I break things. I fix things.' }}{% endif %}">
  {% if page.previewImage %}
  <meta property="og:image" content="https://corey.sh/assets/images/{{page.categories}}/{{page.postPath}}/{{page.previewImage}}" />
  {% endif %}
  <meta property="og:url" content="https://corey.sh{{ page.url }}" />
  <title>{{ site.title }} / {{ page.title }}</title>
  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="icon" href="/assets/images/favicon-192x192.png">
  {% if page.style %}
    <link rel="stylesheet" href="/assets/styles/{{ page.style }}">
  {% elsif layout.style %}
    <link rel="stylesheet" href="/assets/styles/{{ layout.style }}">
  {% endif %}
  {% if page.script %}
    <script src="/assets/scripts/{{ page.script }}" type="text/javascript"></script>
  {% endif %}
  {% if page.containsCode %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        hljs.highlightAll();
      });
    </script>
  {% endif %}
</head>