<header>
  {% if page.title == "HOME" %}
    <a href="/index.html" class="current link">--.- -.- -.-- HOME</a>
  {% else %}
    <a href="/index.html" class="link">--.- -.- -.-- HOME</a>
  {% endif %}
  <a>/</a>
  {% if page.title == "BLOGS" or page.layout == "blog" %}
    <a href="/blogs.html" class="current link">BLOGS</a>
  {% else %}
    <a href="/blogs.html" class="link">BLOGS</a>
  {% endif %}
  <a>/</a>
  {% if page.title == "PROJECTS" or page.layout == "project" %}
    <!-- Temporary -->
    <a href="/index.html" class="current link">PROJECTS</a>
    <!-- <a href="/projects.html" class="current link">PROJECTS</a> -->
  {% else %}
    <a href="/index.html" class="link">PROJECTS</a>
    <!-- <a href="/projects.html" class="link">PROJECTS</a> -->
  {% endif %}
</header>