 /*************************************************************
    _______  _____   ______ _______ __   __   _______ _     _
    |       |     | |_____/ |______   \_/     |______ |_____|
    |_____  |_____| |    \_ |______    |    . ______| |     |

**************************************************************/

    /*** COREY.SH/BLOGS ***/
    .blogs {grid-column: 1/-1; border: 1px var(--textColor1) solid; background: var(--mainColor); 
    padding: 0 2em 0 2em;} /** Looks good but change on each page for consistency**/
    .blogs p {-webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);}
    .blogPreviewImage {display: block; width: 90%; margin: 1em auto 1em auto;}

    /*** BLOG PAGE ***/
    #blog {grid-column: 1/-1; border: 1px var(--textColor1) solid; background: var(--mainColor); 
    padding: 0 2em 0 2em; margin-top: 0.75em; margin-bottom: 0.75em;}
    p {text-indent: 2%;}

    @media only screen and (max-width:725px) {  
        .blogs {padding: 0 1em 0 1em;}
        #blog {padding: 0 1em 0 1em;}
    }