 /*************************************************************
    _______  _____   ______ _______ __   __   _______ _     _
    |       |     | |_____/ |______   \_/     |______ |_____|
    |_____  |_____| |    \_ |______    |    . ______| |     |

**************************************************************/

    .project {max-width: 100%; grid-column: 1/-1; border: 1px var(--textColor1) solid; background: var(--mainColor);}
    .project > * {padding: 0 10px 0 10px;}
    .project p {-webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);}
    .projectImage {display: none; padding-top: 0.75em;}
    .card {margin: 0px 10px 0px 10px; display: grid; grid-template-columns: 1fr; grid-template-rows: 1;
    grid-gap: var(--gridGap); overflow-x: scroll; grid-auto-flow: column; padding-top: 0.75em;}